<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Properties>
        <Property name="log-path">C:\logs</Property>
    </Properties>

    <Appenders>
        <File name="App-File-Appender" fileName="${log-path}/authorization-srv.log.log">
            <PatternLayout
                    pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5p];%d{yyyy-MM-dd HH:mm:ss};[%t];%C{1};(%F:%L);%m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger  name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql" level="debug">
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.springframework" level="debug" additivity="false">
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.springframework.security" level="debug" additivity="false">
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.springframework.security.oauth2" level="debug" additivity="false">
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.springframework.security.jwt" level="debug" additivity="false">
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.springframework.beans" level="debug" additivity="false">
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Root>
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>

</Configuration>